In [1]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [2]:
df = pd.read_csv("quikr_car.csv")
df.head(5)

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [7]:
x = df["name"][0]
x[:x.index(' ')]

'Hyundai'

In [11]:
def com_name(x):
    return x[:x.index(" ")]

In [12]:
df["name"].apply(com_name)

ValueError: substring not found

In [43]:
def com_name(x):
    if " " in x:
        return x[x.index(" ")+1:]
    else:
        return x

In [44]:
df["name"] = df["name"].apply(com_name)

KeyError: 'name'

In [25]:
df.isnull().sum()

name           0
company        0
year           0
Price          0
kms_driven    52
fuel_type     55
dtype: int64

In [34]:
df.head(10)

       name   company  year          Price  kms_driven fuel_type
0   Hyundai   Hyundai  2007         80,000  45,000 kms    Petrol
1  Mahindra  Mahindra  2006       4,25,000      40 kms    Diesel
2    Maruti    Maruti  2018  Ask For Price  22,000 kms    Petrol
3   Hyundai   Hyundai  2014       3,25,000  28,000 kms    Petrol
4      Ford      Ford  2014       5,75,000  36,000 kms    Diesel
5      Ford      Ford  2015  Ask For Price  59,000 kms    Diesel
6      Ford      Ford  2012       1,75,000  41,000 kms    Diesel
7   Hyundai   Hyundai  2013       1,90,000  25,000 kms    Petrol
8      Ford      Ford  2016       8,30,000  24,530 kms    Diesel
9    Maruti    Maruti  2015       2,50,000  60,000 kms    Petrol

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [36]:
df["fuel_type"].fillna(df["fuel_type"].mode()[0], inplace = True)

In [39]:
df.isnull().sum()

name          0
company       0
year          0
Price         0
kms_driven    0
fuel_type     0
dtype: int64

In [38]:
df["kms_driven"].fillna(df["kms_driven"].mode()[0], inplace = True)

In [40]:
df["name"]  = df["company name"]

KeyError: 'company name'

In [41]:
df.rename(columns={"name": "company name"}, inplace=True)

In [79]:
df.head(5)

  company name   company  year   Price kms_driven fuel_type
0      Hyundai   Hyundai  2007   80000  45,000 .0    Petrol
1     Mahindra  Mahindra  2006  425000      40 .0    Diesel
2       Maruti    Maruti  2018       0  22,000 .0    Petrol
3      Hyundai   Hyundai  2014  325000  28,000 .0    Petrol
4         Ford      Ford  2014  575000  36,000 .0    Diesel

In [46]:
df["kms_driven"]=df["kms_driven"].str.replace("kms",".0")

In [80]:
df["Price"]=df["Price"].str.replace("0","388809")

AttributeError: Can only use .str accessor with string values!

In [61]:
df.isnull().sum()

company name    0
company         0
year            0
Price           0
kms_driven      0
fuel_type       0
dtype: int64

In [76]:
df["Price"].mean()

388809.5

In [65]:
COUNT = 0
for i in df["Price"]:
    if i=="NAN":
        COUNT+=1
print(COUNT)

35

In [66]:
df.shape

(892, 6)

In [74]:
df["Price"] = df["Price"].astype(int)

In [78]:
df["Price"] = pd.to_numeric(df["Price"], errors="coerce")